terraform {
  backend "azurerm" {
    resource_group_name  = "training-tf-common"
    storage_account_name = "trainingtf"
    container_name       = "terraformstate"
    key                  = "training-tf-labXX-tfstate"
    subscription_id      = "fce6ec9b-1a97-4250-8ca9-6ea5cf77fe6c"
    client_id            = "63b9461d-51b3-4554-9ffe-95038f4e592c"
    client_secret        = "E1t8Q~wNq3aMGM1xZx1iTdbqSOg5TsfrlVaV_bl_"
    tenant_id            = "a84c2bdc-6bba-49a2-a40f-8e993440da8e"
  }
}